@media screen and (max-width: 428px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.70),
        rgba(46, 47, 66, 0.70)),
      url(../images/hero-bg-mobile.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.70),
          rgba(46, 47, 66, 0.70)),
        url(../images/hero-bg-mobile-2x.jpg);
    }
  }

  .modal {
    width: 310px;
  }
}

@media screen and (min-width: 429px) and (max-width: 768px) {
  .hero {

    background-image: linear-gradient(rgba(46, 47, 66, 0.70),
        rgba(46, 47, 66, 0.70)),
      url(../images/hero-bg-tablet.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.70),
          rgba(46, 47, 66, 0.70)),
        url(../images/hero-bg-tablet-2x.jpg);
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;

  }

  .menu-open-btn {
    display: none;
  }

  .navigation {
    display: flex;
    margin-left: 120px;

  }

  .header-address {
    display: flex;
  }

  .address-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
  }

  .address-item-link {

    padding: 0;
  }

  .hero {
    padding: 112px 136px;

  }



  .hero-title {
    font-size: 56px;
    line-height: 1.07;
  }

  .order-service-button {
    margin-top: 36px;
  }

  /* FEATURES */


  .features-list {
    gap: 72px 24px;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .features-subtitle {
    text-align: start;
  }

  /* OUR TEAM */
  .team-list {
    gap: 64px 24px;
  }

  /* Customers */
  .customers-list {
    gap: 72px 24px;
  }

  .customers-list-item {
    width: 168px;

  }

  /* FOOOTER */
  .footer-container {
    width: 584px;
    display: flex;
    flex-wrap: wrap;
    text-align: start;
  }

  .footer-wrapper {
    width: 264px;
    margin: 0;
    margin-right: 24px;
    margin-bottom: 72px;

  }

  .footer-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .footer-text {
    width: 264px;
  }

  .footer-input {
    width: 264px;
  }

  .modal {
    width: 408px;
  }
}

@media screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.70),
        rgba(46, 47, 66, 0.70)),
      url(../images/hero-bg-pc.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.70),
          rgba(46, 47, 66, 0.70)),
        url(../images/hero-bg-pc-2x.jpg);
    }
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .navigation {
    margin-left: 80px;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
  }

  .address-item-link {
    font-size: 16px;
  }

  .main-text {
    font-weight: 400;
  }

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;

  }


  .order-service-button {
    margin-top: 48px;
  }

  /* FEATURES */

  .features {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .features-item {
    width: calc((100% - 3 * 24px) / 3);
  }

  .features-list {
    gap: 24px;
    flex-wrap: nowrap;
  }

  .features-subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .features-item-icon {
    margin-bottom: 8px;
    background-color: var(--cloud);
    width: 264px;
    height: 112px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* OUR JOB */
  .job {
    display: flex;
    padding-bottom: 120px;
  }

  .job-list {
    display: flex;
    gap: 24px;
  }

  .job-img {
    display: block;
  }

  .job-item {
    width: calc((100% - 2 * 24px) / 3);
  }

  /* OUR TEAM */
  .our-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  /* Customers */
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-list-item {
    width: calc((100% - 5 * 24px) / 6);
  }

  /* FOOOTER */
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    width: 100%;
    display: flex;
  }

  .footer-wrapper {
    margin-bottom: 0;
    margin-right: 120px;

  }

  .social {
    margin-right: 80px;
    margin-bottom: 0;
  }
}